.ui.cards.reports {
  justify-content: space-around;
  gap: 2rem;
  width: inherit;
}

/* 
Filter Container and Input Styles
*/
.ui.grid > .row.report-filters-container {
  justify-content: flex-start;
  gap: 25px;
}
/* Search Input */
.ui.grid > .row .report-search-input .input {
  width: 100%;
}
.ui.grid > .row.report-filters-container div .input .prompt:hover {
  border-color: rgba(34, 36, 38, 0.35);
}
.ui.grid > .row.report-filters-container div:first-child {
  flex-grow: 1;
}

.ui.primary.button.view-report-button {
  margin-top: 5px;
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.ui.card.report-card {
  /* margin: 10px !important; */
}

.report-card-header {
  min-height: 6rem;
  margin-bottom: 0.5rem !important;
  font-size: 1.15rem !important;
}

.report-card {
  /* width: 350px !important; */
  cursor: pointer;
  height: 300px;
}

/* @media (max-width: 680px) {
  .report-card {
    width: 100% !important;
  }
} */
.ui.cards > .card > .content > .meta + .description {
  padding-bottom: 10px;
}

.filter-input-field {
  /* margin-bottom: 2rem; */
}

.report-search-input.ui.search .prompt {
  border-radius: 0.28571429rem !important;
}
