.reset-password-page-wrapper {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding-top: 3rem;
  background-color: hsl(197, 0%, 95%);
  height: 100vh;
}

.reset-password-page-logo {
  display: flex;
  padding-left: 25px;
}

.form-error-message.mt {
  margin-top: 0.5rem !important;
}

.reset-password-header {
  font-size: xx-large;
  margin: 0;
  margin-top: 5px;
}
.reset-password-subheader {
  font-size: medium;
  margin: 0;
  /* margin-top: 5px; */
  margin-bottom: 2rem;
}
